*::before,
*,
*::after{
    box-sizing: border-box;
    margin: 0;
   
}


h3{
    color: red;
}
p{
    color: rgb(0, 81, 13);
}
body{
    background-color: rgb(128, 83, 39);
    background-image: url(resources/background.jpg);
    background-repeat: repeat; 
    overflow-x: hidden;
   
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width:85vw ;
    position: relative;
}

.new-entry{
    position: fixed;
    top: 90%;
    left: 85%;
    width: 10rem;
    height: 2rem;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
}

.new-entry button{
    width: 10rem;
    height: 5vh;
    background-color: rgb(7, 24, 98);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(219, 219, 219);
}
.record{
    width: 400px;
    height: 480px;
    background-image: url(resources/sticky.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 4rem;
    font-family: "Kalam", cursive, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.entry{
    margin:4rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.delete{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 30px;
    border:0;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 80%;
}



.modal{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem 0;
    color: white;

}

.entry-form{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}



.form-container input[type="text"],
.form-container input[type="number"]{
    padding:10px 6px;
    border: 0;
    width: 80%;
    border: 0;
    outline: none;
    color: white;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 10px;

}


.form-container input::placeholder{
    color: white;
    font-size: 1.2rem;
}

.form-container, .input-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
width: 80%;
    justify-content: flex-start;

}
 #submit,#cancel{
    margin: 0 auto;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.15s;
 }

 #submit:hover,#cancel:hover{
    border-color: white;
 }

.display-none{
    display: none;
}

@media (max-width:1094px){
    .record{
        width: 280px;
        height: 350px;
        margin-left: 2rem;
       
    }
    
    .entry{
        margin:2rem 1.3rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .delete{
        font-size: 1.2rem;
    }
    .new-entry{
        position: fixed;
        top: 90%;
        left: 90%;
        width: 10rem;
        height: 2rem;
        margin: 1em;
        font-family: Arial, Helvetica, sans-serif;
        transform: translate(-50%, -50%);
    }
    
    .new-entry button{
        width: 6rem;
        height: 5vh;
        font-size: 1.1rem;
    }
}